apiVersion: apps/v1
kind: Deployment
metadata:
  name: department
spec:
  replicas: 1
  selector:
    matchLabels:
      app: department
  template:
    metadata:
      labels:
        app: department
    spec:
      serviceAccountName: department
      containers:
        - name: department
          image: containersoga/department:104.0.0
          ports:
            - containerPort: 8080
          env:
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: database-user
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: database-password
          - name: MONGO_DATABASE
            valueFrom:
              configMapKeyRef:
                name: mongodb
                key: database-name
---
apiVersion: v1
kind: Service
metadata:
  name: department
spec:
  selector:
    app: department
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8080
      name: http
  type: LoadBalancer