apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: employee
  template:
    metadata:
      labels:
        app: employee
    spec:
      serviceAccountName: employee
      containers:
        - name: employee
          image: containersoga/employee:102.0.0
          ports:
            - containerPort: 8080
          env:
          - name: KUBERNETES_NAMESPACE
            value: "default" 
          - name: SPRING_CLOUD_KUBERNETES_ENABLED
            value: "false"
          - name: SPRING_CLOUD_KUBERNETES_DISCOVERY_ENABLED
            value: "false"
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: database-user
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: database-password
          - name: MONGO_DATABASE
            valueFrom:
              configMapKeyRef:
                name: mongodb
                key: database-name
---
apiVersion: v1
kind: Service
metadata:
  name: employee
spec:
  selector:
    app: employee
  ports:
    - protocol: TCP
      port: 8085
      targetPort: 8080
      name: http
  type: LoadBalancer